@font-face {
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-family: "OpenSansSemiBold";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

h1{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.data {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  font-family: "OpenSansSemiBold";
}

#data__input--widht,
#data__input--height {
  width: 180px;
  outline: 0;
  font-size: 13px;
  padding: 8px 5px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

#data__input--widht:hover,
#data__input--height:hover {
  color: black;
  background: #fff;
}

#data__input--widht:focus,
#data__input--height:focus {
  outline: 0;
  border-color: #664e96;
}

.data__input-title{
  margin-top: 15px;
  margin-bottom: 5px;
}

.data__btn {
  display: block;
  border: none;
  border-radius: 2px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 15px;
}

.data__btn:hover {
  color: #fff;
  background: #664e96;
}
